// Variables de estilo
$background-color: #00b5ec;
$title-font-size: 2.5em;
$datetime-font-size: 1.5em;
$button-size: 80px;
$button-color: #3880ff;
$button-icon-color: rgb(0, 0, 0);
$button-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

// Estilo global para ion-content
ion-content {
  --background: rgb(0, 195, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

// Estilo para el título principal
.title {
  font-size: $title-font-size;
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
}

// Estilo para la fecha y hora
.datetime {
  font-size: $datetime-font-size;
  color: white;
  margin-bottom: 40px;
}

// Contenedor de los botones
.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

// Estilo para los botones circulares
.button-circle {
  width: $button-size;
  height: $button-size;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $button-shadow;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  ion-icon {
    color: $button-icon-color;
    font-size: 2em;
  }
}
