<head>
  <ion-title>SimplicityPhone</ion-title>
</head>
<body>
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>SimplicityPhone</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="title">SimplicityPhone</div>
      <div class="datetime">27 de junio de 2024, 14:30</div>

      <div class="buttons-container">
        <div class="button-circle" style="background-color: yellow">
          <ion-icon name="medkit" size="large"></ion-icon>
        </div>
        <div class="button-circle" style="background-color: red">
          <ion-icon name="flame" size="large"></ion-icon>
        </div>
        <div class="button-circle" style="background-color: blue">
          <ion-icon name="settings" size="large"></ion-icon>
        </div>
      </div>
      <div class="buttons-container">
        <div class="button-circle" style="background-color: pink">
          <ion-icon name="clipboard" size="large"></ion-icon>
        </div>
        <div class="button-circle" style="background-color: green">
          <ion-icon name="call" size="large"></ion-icon>
        </div>
        <div class="button-circle" style="background-color: purple">
          <ion-icon name="camera" size="large"></ion-icon>
        </div>
      </div>
      <div class="buttons-container">
        <div class="button-circle" style="background-color: cyan">
          <ion-icon name="globe" size="large"></ion-icon>
        </div>
        <div class="button-circle" style="background-color: orange">
          <ion-icon name="person" size="large"></ion-icon>
        </div>
        <div class="button-circle" style="background-color: gray">
          <ion-icon name="settings" size="large"></ion-icon>
        </div>
      </div>
      <div class="buttons-container">
        <div class="button-circle" style="background-color: darkred">
          <ion-icon name="heart" size="large"></ion-icon>
        </div>
        <div class="button-circle" style="background-color: darkgreen">
          <ion-icon name="musical-notes" size="large"></ion-icon>
        </div>
        <div class="button-circle" style="background-color: palevioletred">
          <ion-icon name="compass" size="large"></ion-icon>
        </div>
      </div>
    </ion-content>
  </ion-app>
</body>
